# MoeFlow models
models/output_*

# Image serving directory
src/moeflow/static/images/*

# Python
*.pyc
.cache/
/build
/cover
/dist
/venv

# Packages
*.egg
*.egg-info
.eggs/

# Unit test / coverage reports
.coverage
coverage.xml
.tox
nosetests.xml

# Others
*~
*.swp
*.DS_Store
*.idea/

# Sphinx docs
docs/_build*
