<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<title>MoeFlow: Anime Characters Recognition</title>
	<link rel="stylesheet" type="text/css" href="./static/main.css">
    </head>
    <body>
        <h2>MoeFlow: Anime Characters Recognition (Alpha Ver.)</h2>
	<p>For more information, see <a href="https://github.com/freedomofkeima/transfer-learning-anime" target="_blank">freedomofkeima/transfer-learning-anime</a> at Github.</p>
	<form method="POST" enctype="multipart/form-data">
	    <input type="file" name="uploaded_image" accept="image/*">
	    <input type="submit">
	</form>
	<div id="footer">
	    <p>Freedomofkeima Zone, 2017.</p>
	</div>
    </body>
</html>

